<app-header></app-header>
<app-sidemenu></app-sidemenu>
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">ADMINISTRATION</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="container-fluid">
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">APPRENANTS</h3>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
                <li>
                    <div id="sparklinedash"><canvas width="67" height="30"
                            style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                    </div>
                </li>
                <li class="ms-auto"><span class="counter text-success">659</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">FEMMES</h3>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
                <li>
                    <div id="sparklinedash2"><canvas width="67" height="30"
                            style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                    </div>
                </li>
                <li class="ms-auto"><span class="counter text-purple">869</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">HOMMES</h3>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
                <li>
                    <div id="sparklinedash3"><canvas width="67" height="30"
                            style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                    </div>
                </li>
                <li class="ms-auto"><span class="counter text-info">911</span>
                </li>
            </ul>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-lg-8 col-md-8"></div>
        <div class="col-lg-4 col-md-4">
            <a href="addApprenant"><button style="float: right; margin: 10px 10px;" class="btn btn-warning">Ajouter Apprenants</button></a>
        </div>
    </div>

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
            <div class="d-md-flex mb-3">
                <h3 class="box-title mb-0">Apprenants ODK</h3>
                <div class="col-md-3 col-sm-4 col-xs-6 ms-auto"></div>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">#</th>
                            <th class="border-top-0">Nom</th>
                            <th class="border-top-0">Prénom</th>
                            <th class="border-top-0">Genre</th>
                            <th class="border-top-0">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let response of listeApp">
                            <td>{{ response.id }}</td>
                            <td class="txt-oflo">{{ response.user.nom }}</td>
                            <td>{{ response.user.prenom }}</td>
                            <td class="txt-oflo">{{ response.user.genre }}</td>
                            <td><span class="text-success">
                               <a [routerLink]="['updateApprenant', response.id]"><i class="fa fa-edit" aria-hidden="true"></i></a> 
                               <a (click)="deleteApp(response.id)"><i style="color: red;" class="fa fa-trash" aria-hidden="true" onclick ="return(confirm('Etes-vous certain de vouloir supprimer cet apprenant ?'));"></i></a> 
                               <a [routerLink]="['detailApprenant', response.id]"><i style="color: green;" class="fa fa-eye" aria-hidden="true"></i></a> 
                            </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<app-footer></app-footer>
</div>
