<app-header></app-header>
<app-sidemenu></app-sidemenu>
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">ADMINISTRATION</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="container-fluid">
<div class="row justify-content-center">

    <div class="col-lg-6 col-md-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Liste de presence</h3>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
                <li>
                    <p>Fourni par : {{liste.admin.user.prenom}} {{liste.admin.user.nom}}</p>
                </li>
                <li class="ms-auto"><span class="counter text-info">{{liste.date_liste | date: 'd MMM y à H:mm '}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
            <form #form="ngForm" (ngSubmit)="addListe(form)">
            <div class="d-md-flex mb-3">
                <h3 class="box-title mb-0">Apprenants ODK</h3>
                <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                    <button class="btn btn-warning" type="submit">Ajouter à la liste</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">#</th>
                            <th class="border-top-0">Nom</th>
                            <th class="border-top-0">Prénom</th>
                            <th class="border-top-0">Genre</th>
                            <th class="border-top-0">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let response of listeApp">
                            <td>{{ response.id }}</td>
                            <td class="txt-oflo">{{ response.user.nom }}</td>
                            <td>{{ response.user.prenom }}</td>
                            <td class="txt-oflo">{{ response.user.genre }}</td>
                            <td><span class="text-success">
                                <input type="checkbox" value="{{response}}" id="scales"  name="apprenant" ngModel>
                            </span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </form>
        </div>
    </div>
</div>
</div>

<app-footer></app-footer>
</div>
