<app-header></app-header>
<app-sidemenu></app-sidemenu>
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">ADMINISTRATION</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="container-fluid">

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
            <div class="d-md-flex mb-3">
                <h3 class="box-title mb-0">Administrateurs ODK</h3>
                <div class="col-md-3 col-sm-4 col-xs-6 ms-auto"></div>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">#</th>
                            <th class="border-top-0">Nom</th>
                            <th class="border-top-0">Prénom</th>
                            <th class="border-top-0">Genre</th>
                            <th class="border-top-0">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let response of listeApp">
                            <td>{{ response.id }}</td>
                            <td class="txt-oflo">{{ response.user.nom }}</td>
                            <td>{{ response.user.prenom }}</td>
                            <td class="txt-oflo">{{ response.user.genre }}</td>
                            <td><span class="text-success">
                               <a href="#"><i class="fa fa-edit" aria-hidden="true"></i></a> 
                               <a href="#"><i style="color: red;" class="fa fa-trash" aria-hidden="true"></i></a> 
                               <a href="#"><i style="color: green;" class="fa fa-eye" aria-hidden="true"></i></a> 
                            </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<app-footer></app-footer>
</div>
